@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

main {
    height: 450px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 13px;
    display: flex;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    & figure {
        height: 100%;
        width: 50%;

        & img {
            height: 100%;
            width: 100%;
        }
    }

    & section {
        padding: 30px width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #Perfume {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        color: hsl(228, 12%, 48%);
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    #Tít {
        font-family: "Fraunces", serif;
        font-size: 32px;
        color: hsl(228, 12%, 13%);
        line-height: 1;
        margin-bottom: 20px;
    }

    #Info {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        color: hsl(228, 12%, 48%);
        line-height: 1.6;
        margin-bottom: 30px;
    }

    .Preço {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;

        #PreçoDesc {
            font-family: "Fraunces", serif;
            color: hsl(158, 36%, 37%);
            font-size: 30px;
        }

        #PreçoOrig {
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            color: hsl(228, 12%, 48%);
            text-decoration: line-through;
        }
    }

    .Botão {
        background-color: hsl(158, 36%, 37%);
        border-radius: 5px;
        align-items: center;
        display: flex;
        padding: 15px 0px;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        justify-content: center;
        cursor: pointer;
        width: 100%;
        margin-top: auto;

        &:hover {
            background-color: hsl(158, 36%, 25%);
        }

    }
}